[submodule "LegendCreator/vendor/spdlog"]
	path = LegendCreator/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LegendCreator/vendor/GLFW"]
	path = LegendCreator/vendor/GLFW
	url = https://github.com/JoshEthan/glfw.git
